.slide-2 {
    // background-color: #5cc2f1;
    .item-title{
        margin: .45rem .75rem;
    }
    .item-content{
        margin: auto .75rem;
        font-size: .27rem;
    }
    .feature-icon{
        display:inline-block;
        vertical-align: top;
        width: 1.2rem;
        height: 1.2rem;

        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .icon-yt { background-image: url('../images/yt.png'); }
    .icon-jr { background-image: url('../images/jr.png'); };
    .icon-mb { background-image: url('../images/mb.png'); };

    .feature{
        display: inline-block;
        max-width: 4.3rem;
        padding-left: .2rem;
    }
    .feature-title{
        font-family: pmzd;
        font-size: .4rem;
    }
    .item-feature{
        margin-top: .7rem;
    }
    .item-feature li{
        width: 100%;
        margin-bottom: .45rem;
    }
    .item-intro{
        // background-color: rgba(17,45,82, .5);
    }
    .item-intro:before{
        content:'';
        width: .2rem;
        height: .2rem;
        position: absolute;
        margin-top:-.2rem;
        margin-left: -.2rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../images/lt.png');
        
    }
    .item-intro:after{
        content:'';
        width: .2rem;
        height: .2rem;
        position: absolute;
        // margin-bottom:-.05rem;
        margin-top: .2rem;
        // margin-right: rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../images/rb.png');
    }
}
