.slide-7 {
    .item-content{
        margin-top:.8rem;
        .trip-plan{
            width: 6rem;
            margin: 0 auto;
        }
        .trip{
            margin: .4rem 0;
            font-size: .4rem;
            line-height: .5rem;
            .site i{
                display: inline-block;
                width: .27rem;
                height: .27rem;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                background-image: url('../images/hex_fill.svg');
                margin:0 .25rem;
            }

            .name{
                vertical-align: top;
                font-family: pmzd;
                display: inline-block;
            }
            .date{
                vertical-align: top;
                display: inline-block;
                margin-left: .5rem;
                font-size: .3rem;
                // font-family: pmzd;
            }
            .university{
                font-size: .3rem;
                margin-left: 2.52rem;
                line-height: .45rem;
            }
        }
    }
}
