.slide-4 {
    .item-title{
        text-align: center;
    }
    .item-content{
        margin-top: 2rem;
        padding-left: .125rem;
        .point{
            // color: #112D52;
            font-size: .4rem;
            display: inline-block;
            font-family: pmzd;
            width: 2rem;
            height: 2rem;
            padding: .6rem .5rem;
            vertical-align: middle;
            text-align: center;
            line-height: .4rem;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-image: url('../images/hex.svg');
        }

        .point:nth-of-type(1){
            margin-left:1.7rem;
        }
        .point:nth-of-type(2){
            margin-left:-.35rem;
        }
        .point:nth-of-type(3){
            // margin-left:0.5rem;
            margin-top: -.3rem;
            margin-left:.75rem;
        }
        .point:nth-of-type(4){
            margin-left:-.35rem;
            margin-top: -.3rem;
        }
        .point:nth-of-type(5){
            margin-left:-.35rem;
            margin-top: -.3rem;
        }
        .point:nth-of-type(6){
            margin-top: -.3rem;
            margin-left:1.7rem;
        }
        .point:nth-of-type(7){
            margin-top: -.3rem;
            margin-left:-.35rem;
        }
    }

}
