.slide-8 {
    .item-title{
        margin: .5rem auto .2rem;
        width: 5rem;
        height: 1rem;
        text-align: center;
    }
    .item-content{
        .category{
            margin: 0 auto;
            font-size: .33rem;
            .type{
                font-family: pmzd;
                color: #1ccdea;
                font-size: .5rem;
                text-align: center;
                padding: .2rem;
            }
            .type:before{
                content:'';
                width: .2rem;
                height: .2rem;
                position: absolute;
                margin-top:-.1rem;
                margin-left: -.2rem;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url('../images/lt.png');
                
            }
            .type:after{
                content:'';
                width: .2rem;
                height: .2rem;
                position: absolute;
                // margin-bottom:-.05rem;
                margin-top: .4rem;
                // margin-right: rem;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url('../images/rb.png');
            }
            .major{
                color: #1ccdea;
                font-weight: 300;
                text-align: center;
                font-size: .3rem;
                line-height: .3rem;
                padding: .05rem 0;
            }
            .jobs{
                width: 6rem;
                margin:.3rem auto 0;
                .job{
                    padding: .05rem 0 ;
                    .name{
                        display: inline-block;
                        width: 3.5rem;
                    }
                    .cert{
                        width: 2rem;
                    }
                }
            }
        }
    }
}
