@charset "UTF-8";

.swiper-slide {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-title{
    font-family: pmzd;
    font-size: .75rem;
    margin: .5rem .75rem;
}