@charset "UTF-8";

html {
    width: 100%;
    height: 100%;
    position: relative;
    color: #FFF;
    // background-color: #000;
    background: linear-gradient(-40deg, #2881c5, #09112c);
    font-size: .2rem;
}

@font-face {
    font-family: 'pmzd';
    src: url('../fonts/pmzd.eot?90099692');
    src: url('../fonts/pmzd.eot?90099692#iefix') format('embedded-opentype'),
         url('../fonts/pmzd.woff?90099692') format('woff'),
         url('../fonts/pmzd.ttf?90099692') format('truetype'),
         url('../fonts/pmzd.svg?90099692#pmzd') format('svg');
    font-weight: normal;
    font-style: normal;
  }

@media all and (min-width: 400px) {
    html {
        font-size: 22px;
    }
}

@media all and (min-width: 600px) {
    html {
        font-size: 32px;
    }
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: Helvetica;
    font-weight: normal;
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}